h1{ 
    border-style: dashed;
    border-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: black;
}

a { color:red; }


body {
    font-size: 14px;
    color: red;
}